:root {
	--primary: #304a32;
	--secondary: #384539;
	--secondary2: #00402b;
	--accent1: #16e09d;
	--accent2: #169fe0;
	--white: #ffffff;
}

body {
	color: var(--white);
	font-family: "Times New Roman", Times, serif;
	margin: 0;
}

header {
	background-color: var(--primary);
	height: 10vh;
	text-align: center;
}

button.nav {
	color: var(--white);
	font-size: 2.074rem;
	font-weight: 300;
}

main {
	background: linear-gradient(to bottom, var(--primary) 0%, var(--secondary) 50%, var(--primary) 100%);
	font-size: medium;
	min-height: 80vh;
	height: auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
	padding: 20px;
}

footer {
	background-color: var(--primary);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 7vh;
	padding: 10px;
}

h1 {
	color: var(--white);
	font-size: 2.986rem;
	font-weight: 500;
	margin: 0;
}

h2 {
	color: var(--white);
	font-size: 2.488rem;
	font-weight: 400;
	margin: 0 0 2vh 0;
}

h3 {
	color: var(--white);
	font-size: 2.074rem;
	font-weight: 300;
	margin: 0;
}

p {
	font-size: 1rem;
	margin: 5px;
	font-weight: 100;
	max-width: 80ch;
}

ul {
	margin: 0;
}

a[href] {
	color: var(--white);
	text-decoration: none;
}

a[href]:hover {
	text-decoration: underline;
}

button {
	border-color: var(--white);
	color: var(--white);
	background: none;
	transition: transformation 0.2s ease-in-out;
}

button:hover {
	filter: invert();
	background-color: rgb(0, 0, 0);
}

section {
	border-color: var(--secondary);
}

img {
	width: 10lh;
}

.icon img {
	width: 25px;
}

/* .hidden {
	display: none;
} */

.dev {
	font-size: small;
}

/* .scroll-container {
	width: 50%;
	height: 60vh;
	overflow-y: auto;
	border: 1px solid #ccc;
	padding: 10px;
	margin: 10px;
	align-items: center;
	justify-content: center;
	background-color: var(--secondary);
} */

.icons {
	display: flex;
	padding: 5px;
}

.icon {
	padding: 10px;
	filter: invert();
	transition: transformation 0.3s ease-in-out;
}

.icon:hover {
	transform: scale(1.3);
	padding: 10px;
}

.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}

header .wrapper {
	height: 5vh;
	padding: 20px 20px 0px 20px;
}

.right {
	margin-left: auto;
	text-align: right;
}

.grid-item {
	border: 1px solid #ccc;
	padding: 20px;
	text-align: center;
	font-size: 1.2em;
}

@media (max-width: 768px) {
	.grid-container {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 480px) {
	.grid-container {
		grid-template-columns: 1fr;
	}
}
